.wrap {
    position: relative;
    overflow: hidden;
}

.background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    opacity: 0.6;
}

.container {
    position: relative;
    display: grid;
    max-width: 1700px;
    margin: 0 auto;
    padding: 15px;
}


h1 {
    text-align: center;
}

p {
    border-left: 6px solid;
    height: 100px;
    border-top: 6px solid rgb(17, 19, 17);
    width: 500px;
    border-radius: 5px;
    padding-top: 20px;
    padding-left: 20px;
    max-width: 650px;;
}

.projects {
    font-weight: 700;
    border-left: 6px solid rgb(17, 19, 17);
    height: 100px;
    border-top: 6px solid rgb(17, 19, 17);
    width: 100px;
    border-radius: 5px;
    justify-self: end;
    padding-left: 20px;
    margin-bottom: 100px;
    margin-right: 250px;
}

.links {
    text-decoration: none;
}

.preview {
    display: flex;
    border-radius: 5px;
    justify-content: center;
    max-width: 400px;
    margin-bottom: 10px;
}

#image {
    max-width: 250px;
    max-height: 250px;
    border-radius: 5px;
}

.btn {
    width: 100px;
    margin: auto;
    font-weight: 700;
    border-radius: 5px;
    color: rgba(27, 40, 161, 0.747);
    font-style: italic;
    border-color: blue;
    background-image: linear-gradient(rgba(103, 103, 255, 0.801),rgba(38, 58, 97, 0.459));
}

/* Media queries for tablet screens */
@media only screen and (max-width: 1024px) {
    .container {
        max-width: 90%;
    }
    .projects {
        margin-right: 50px;
    }
}

/* Media queries for mobile screens */
@media only screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }
    .projects {
        margin-right: 20px;
    }
    p {
        width: auto;
        max-width: 100%;
    }
}
