.container{
    margin-top: 100px;
    
    display: flex;
    justify-content: center;
    max-width: 800px;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.box {
    background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2, 0, 36, 0.911) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
}

.question {
    color: rgb(22, 185, 235);
    font-size: 40px;
    font-weight: 700;
}

button {
    color: rgb(46, 9, 255);
    background-image: linear-gradient(to right, rgb(187, 185, 183),rgb(81, 177, 255));
    width: 250px;
    height: 100px;
    font-size: large;
    font-weight:700;
    margin: 5px;
    border-radius: 5%;
}

.buttons {
display: flex;
flex-direction: row;
justify-content: center;
margin-top: 10px;
}

@media only screen and (max-width: 768px) {
    .buttons {
        flex-direction: column;
        align-items: center;
    }
}